@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}
* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: rgba(217, 182, 255, 0.196);
}
:root {
  --logo-color: rgb(114, 72, 185);
  --black: rgb(32, 33, 36);
  --grey: #5f6368;
  --button-bg: #673ab7;
  --white: white;
  --shadow: rgba(128, 128, 128, 0.304);
}

.border 
{
    border: 1px solid red;
}

.navbar{
    background-color: var(--white);
    padding-top: 10px;
    box-shadow: 0 0 10px var(--shadow);
}

.navbar-top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-bottom
{
    margin-top: 2rem;
    text-align: center;
}

.navbar-bottom button
{
    margin: auto 10px;
    border: none;
    background: none;
    color: var(--grey);
    font-weight: 500;
    margin-bottom: 3px;
    padding-bottom: 5px;
}


.navbar-bottom button.active
{
    color: var(--button-bg);
    position: relative;
}


.navbar-bottom button.active::before
{
    content: ".";
    display: block;
    position: absolute;
    bottom: -3px;
    left: -5px;
    width: calc(100% + 10px);
    height: 3px;
    background: var(--button-bg);
    border-radius: 5px 5px 0 0;
}

.navbar-blog
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-blog > * {
    margin: 0 10px;
    color: var(--grey);
}

.navbar-blog i{
    font-size: 20px;
}

.navbar-blog .bxs-file{
    font-size: 2.5rem;
    color: var(--logo-color);
}

.f-bold
{
    font-weight: 500;
    color: black;
}

.f-h6
{
    font-size: 12px;
}

.text-gray
{
    color: #999999;
}

.btn-primary
{
    border: none;
    padding: 7px 20px;
    background-color: var(--button-bg);
    color: var(--white);
    border-radius: 3px;
}
.btn-primary:disabled
{
    opacity: 0.5;
}

.avatar-img
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* banner */
.banner
{
    display: none;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.banner.active{
    display: block;
}

.banner .banner-box
{
    width: 80%;
    margin: 20px auto;
    height: 120px;
    border-radius: 8px;
    background: var(--white);
    box-shadow: 0 0 10px var(--shadow);
    text-align: left;
    padding: 20px 0 0 20px;
}

.banner .banner-box-ul
{
    display: none;
    align-items: center;
    color: var(--grey);
    font-size: 1.2rem;
}


.banner .banner-box-ul i
{
    margin-right: 10px;
}

.banner-box.active input
{
    margin-bottom: 0 !important;
}

.banner-box.active .banner-box-ul
{
    display: flex;
}

.banner .banner-box.banner-box-top
{
    border-top: 8px solid var(--button-bg);
}

.banner .banner-box.banner-box-top h1{
    font-weight: 400;
}


.banner .banner-box.banner-box-top,
.banner .banner-box.banner-box-input
{
    display: inline-grid;
}


.banner .banner-box.banner-box-input input
{
    width: 50%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #c3c3c3;
}


.banner .banner-box.banner-box-input input:focus
{
    outline: none;
}

.banner .banner-box.banner-box-input .banner-box-radio-input input
{
    width: auto;
    margin: 5px 0 10px 0;
}

.banner .banner-action
{
    display: inline-grid;
    row-gap: 10px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 1.2rem;
    color: var(--grey);
    background: var(--white);
    border-radius: 3px;
    padding: 10px;
    text-size-adjust: 10px;
    box-shadow: 0 0 10px var(--shadow);
}

/* responses */
.banner .banner-box.banner-box-responses
{
    height: auto;
}

#table-body td
{
    color: var(--grey);
    font-size: 15px;
    padding: 5px 0;
}